/* ── HERO ── */

.hero {
  background: #fee227;
}

.hero-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 70px;
  display: flex;
  max-height: 854px;
  padding-top: 70px;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-headline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #000;
  /* white-space: pre-line; */
  font-size: 156px;
}

.special-span {
  text-underline-offset: 20px;
  text-decoration: underline;
}

.hero-subtext {
  display: flex;
  margin-top: 36px;
  align-items: center;
  justify-content: space-between;
}

.hero-explore {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.hero-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.65;
  color: #000;
}

.cta-button {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 20px 31px;
  border-radius: 50px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  width: fit-content;
  border: solid 1px transparent;

  &:hover {
    background: #fff;
    color: #000;
    border: solid 1px #000;
  }
}

.hero-icon {
  img {
    max-width: clamp(200px, 30vw, 380px);
    height: auto;
    display: block;
    max-width: 480px;
  }
}

@media screen and (max-width: 770px) {
  .hero-inner {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hero-headline {
    font-size: clamp(2.3rem, calc(4vw + 17px), 3rem);
    padding-right: 30px;
  }

  .hero-subtitle {
    padding-right: 30px;
  }

  .hero-subtext {
    flex-direction: column;
  }

  .hero-icon {
    height: 250px;
    img {
      width: 100vw;
      padding: 0;
      position: absolute;
      left: 0;
    }
  }

  .special-span {
    text-underline-offset: 5px;
  }
}
